@if(isAddMovie) {
<app-new-movie (close)="onCloseAddMovie()" (movieAdded)="onMovieAdded($event)" />
}
<div class="inputSearch">
  <form>
    <div class="container-input-search">
      <div class="input-container">
        <label for="search-text" style="font-family: Georgia, 'Times New Roman', Times, serif;">Search by title</label>
        <input #inputTitle type="text" class="form-control" id="search-title" aria-describedby="search-text"
          placeholder="Enter title to search" autofocus style="height: 30px;">
      </div>
      <button class="btn-add" (click)="searchMovie(inputTitle.value)">Valid</button>
      <div class="input-container">
        <label for="search-text" style="font-family: Georgia, 'Times New Roman', Times, serif;">Search by
          id</label>
        <input #inputId type="text" class="form-control" id="search-id" placeholder="Enter id to search"
          style="height: 30px;margin-left: 10px;">
      </div>
      <button class="btn-add" (click)="searchId(inputId.value)">Valid</button>
      <button type="button" class="btn-search" (click)="ngOnInit()">Cancel</button>
      <select class="select" name="country" id="country">
        <option class="option" *ngFor="let genre of uniqueGenre" [value]="genre">
          {{ genre }}
        </option>
      </select>
    </div>
  </form>
</div>
<main>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Date</th>
        <th>Genre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (movie of movies ; track movie.id ) {
      <tr>
        <td>{{movie.id}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.date}}</td>
        <td>{{movie.genre}}</td>
        <td class="btn">
          <button type="button" (click)="deleteMovie(movie.id)">Remove</button>
          <button>Modify</button>
        </td>
      </tr>
      }

    </tbody>
  </table>
</main>
<div class="btn-add-contain">
  <button class="btn-add" (click)="onAddMovie()">Add</button>
</div>
