@if(isAddMovie) {
<app-new-movie (close)="onCloseAddMovie()" (movieAdded)="onMovieAdded($event)" />
}
<div class="inputSearch">
  <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
    placeholder="Enter text to search" autofocus>
</div>
<main>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Date</th>
        <th>Genre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (movie of movies ; track movie.id ) {

      <tr>
        <td>{{movie.id}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.date}}</td>
        <td>{{movie.genre}}</td>
        <td class="btn">
          <button type="button" (click)="deleteMovie(movie.id)">Remove</button>
          <button>Modify</button>
        </td>
      </tr>
      }

    </tbody>
  </table>
</main>
<div class="btn-add-contain">
  <button class="btn-add" (click)="onAddMovie()">Add</button>
</div>