section {
  margin: 0 25%;
  max-width: 100%;
  /* background-color: #433352; */
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 1rem;
  top: 5rem;
}

.actions {
  margin: 1rem 10rem 0;
  display: flex;
  justify-content: space-evenly;
  gap: 0.25rem;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  padding: 0.35rem 1.25rem;
  border-radius: 4px;
  background-color: #450d80;
}

button[type="button"] {
  color: #bdadcf;
}

button[type="button"]:hover,
button[type="button"]:active {
  color: #d0c6e1;
  background: #433352;
}

div {
  margin: 10rem 0;
  display: flex;
  justify-content: center;
}