@if(isAddActor) {
<app-new-actor (close)="onCloseAddActor()" (actorAdded)="onActorAdded($event)" />
}

<div class="inputSearch">
  <input #lastnameInput type="text" class="form-control" id="search-text" aria-describedby="search-text"
    placeholder="Enter text to search" autofocus>
  <button (click)="searchActor(lastnameInput.value)">Rechercher</button>
</div>
<main>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Start</th>
        <th>End</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (actor of actors; track actor.id) {
      <tr class="line">
        <td>{{actor.id}}</td>
        <td>{{actor.lastname}}</td>
        <td>{{actor.firstname}}</td>
        <td>{{actor.start}}</td>
        <td>{{actor.end}}</td>
        <td>{{actor.country}}</td>
        <td class="btn">
          <button type="button" (click)="deleteActor(actor.id)">Remove</button>
          <button>Modify</button>
        </td>
      </tr>
      }

    </tbody>
  </table>
</main>
<div class="btn-add-contain">
  <button class="btn-add" (click)="onAddActor()">Add</button>
</div>
