<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Actor</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="lastname">Lastname</label>
      <input type="text" id="lastname" name="lastname" [(ngModel)]="enteredLastname" />
    </p>

    <p>
      <label for="firstname">Firstname</label>
      <input type="text" id="firstname" name="firstname" [(ngModel)]="enteredFirstname">
    </p>

    <p>
      <label for="date">Start</label>
      <input type="date" id="date" name="date" [(ngModel)]="enteredStart" />
    </p>
    <p>
      <label for="date">Now</label>
      <input type="date" id="date" name="date" [(ngModel)]="enteredEnd">
    </p>

    <p>
      <label for="country">Country</label>
      <input type="text" id="country" name="country" [(ngModel)]="enteredCountry">
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>