@if(isAddProductor) {
<app-new-productor (close)="onCloseAddProductor()" (productorAdded)="onProductorAdded($event)" />
}
<div class="inputSearch">
  <form>
    <div class="container-input-search">
      <div class="input-container">
        <label for="search-text" style="font-family: Georgia, 'Times New Roman', Times, serif;">Search a
          productor</label>
        <input #inputProductor type="text" class="form-control" id="search-text" aria-describedby="search-text"
          placeholder="Enter productor to search" autofocus style="height: 30px;">
      </div>
      <button class="btn-add" (click)="searchProductor(inputProductor.value)">Valid</button>

      <div class="input-container">
        <label for="search-text" style="font-family: Georgia, 'Times New Roman', Times, serif;">Search by
          id</label>
        <input #inputId type="text" class="form-control" id="search-id" placeholder="Enter id to search"
          style="height: 30px;margin-left: 10px;">
      </div>

      <button class="btn-add" (click)="searchById(inputId.value)">Valid</button>
      <button type="button" class="btn-search" (click)="ngOnInit()">Cancel</button>
    </div>
  </form>
</div>
<main>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Age</th>
        <th>Now</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (productor of productors; track productor.id) {
      <tr>
        <td>{{productor.id}}</td>
        <td>{{productor.lastname}}</td>
        <td>{{productor.firstname}}</td>
        <td>{{productor.age}}</td>
        <td>{{productor.now}}</td>
        <td class="btn">
          <button type="button" (click)="deleteProductor(productor.id)">Remove</button>
          <button>Modify</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>
<div class="btn-add-contain">
  <button class="btn-add" (click)="onAddProductor()">Add</button>
</div>